
.favourites-list
{
    background-color: var(--bg-color);
    justify-items: center;
}

.product-box {
    background-color: white;
    border: 1px solid #f5f5f5;
    border-radius: 8px 8px 0px 0px;
}


.productsPage a{
    text-decoration: none;
}

/* media screens */

@media only screen and (max-width: 768px) {
    .productsPage section{
        padding: 0;
    }

    .search-bar{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .product-heading{
        margin-bottom: 5px;
    }
}
